# Comparing Qubos Structure

In [1]:
folders = ['sat_ratio', 'not_experiments/qubos', 'and_experiments/qubos', 'mul_experiments/qubos', '40bit_and_experiments/qubos']

from os.path import isfile, join
from os import listdir
from unicorn_utils import *

df_qubos = pd.DataFrame()
for folder in folders:
    for file in listdir(folder):
        path = f"{folder}/{file}"
        if isfile(path) and "unicorn" in file:
            stats = {
                "folder": folder.split("/")[0],
                "file": file.split(".")[0]
            }
            stats = stats | get_bqm_statistics_from_path(path)
            df_qubos = df_qubos.append(stats, ignore_index=True)
df_qubos

,avg_conn,file,folder,max_conn,max_linear,max_quadratic,variables,variance_conn
0,3.49,p0001,sat_ratio,6.0,6.0,4.0,253.0,2.23
1,3.49,p10,sat_ratio,6.0,6.0,4.0,253.0,2.23
2,2.96,1,sat_ratio,4.0,6.0,4.0,127.0,1.02
3,3.49,p01,sat_ratio,6.0,6.0,4.0,253.0,2.23
4,3.49,p000001,sat_ratio,6.0,6.0,4.0,253.0,2.23
...,...,...,...,...,...,...,...,...
286,5.30,144,mul_experiments,16.0,8.0,4.0,148.0,5.35
287,3.32,40bit_and_p01,40bit_and_experiments,6.0,12.0,4.0,237.0,1.87
288,3.32,40bit_and_p001,40bit_and_experiments,6.0,12.0,4.0,237.0,1.87
289,3.32,40bit_and_p1,40bit_and_experiments,6.0,12.0,4.0,237.0,1.87
290,3.32,40bit_and_p0001,40bit_and_experiments,6.0,12.0,4.0,237.0,1.87

In [2]:
df_qubos[(df_qubos.folder == "sat_ratio") & (df_qubos.variables == 253)].head(1)

,avg_conn,file,folder,max_conn,max_linear,max_quadratic,variables,variance_conn
0,3.49,p0001,sat_ratio,6.0,6.0,4.0,253.0,2.23

In [3]:
df_qubos[df_qubos.folder == "and_experiments"].head(1)

,avg_conn,file,folder,max_conn,max_linear,max_quadratic,variables,variance_conn
28,3.32,and_p01,and_experiments,6.0,12.0,4.0,285.0,1.87

In [4]:
df_qubos[df_qubos.folder == "not_experiments"].head(1)

,avg_conn,file,folder,max_conn,max_linear,max_quadratic,variables,variance_conn
16,3.19,not_p001,not_experiments,6.0,6.0,4.0,317.0,2.54

# Comparing CNFs Structure

In [5]:
folders = ['sat_ratio', 'not_experiments/cnfs', 'and_experiments/cnfs', 'mul_experiments/cnfs', '40bit_and_experiments/cnfs']

from os.path import isfile, join
from os import listdir
from unicorn_utils import *

df_cnfs= pd.DataFrame()
for folder in folders:
    for file in listdir(folder):
        path = f"{folder}/{file}"
        if isfile(path) and "cnf" in file:
            stats = {
                "folder": folder.split("/")[0],
                "file": file.split(".")[0]
            }
            stats = stats | get_cnf_statistics_from_path(path)
            df_cnfs = df_cnfs.append(stats, ignore_index=True)
df_cnfs

     clauses              file                 folder   vars
0      192.0                 1              sat_ratio  128.0
1       52.0           8bit_p1              sat_ratio   23.0
2      444.0               p25              sat_ratio  191.0
3      444.0            p00001              sat_ratio  191.0
4      444.0           p000001              sat_ratio  191.0
..       ...               ...                    ...    ...
294      1.0      40bit_and_p5  40bit_and_experiments    0.0
295    396.0   40bit_and_p0001  40bit_and_experiments  199.0
296    396.0      40bit_and_p1  40bit_and_experiments  199.0
297      1.0  40bit_and_p00001  40bit_and_experiments    0.0
298      1.0     40bit_and_p50  40bit_and_experiments    0.0

[299 rows x 4 columns]

In [13]:
df_cnfs["clauses_per_var"] = df_cnfs.clauses/df_cnfs.vars
df_cnfs[(df_cnfs.folder == "sat_ratio")].head()

   clauses     file     folder   vars  clauses_per_var
0    192.0        1  sat_ratio  128.0         1.500000
1     52.0  8bit_p1  sat_ratio   23.0         2.260870
2    444.0      p25  sat_ratio  191.0         2.324607
3    444.0   p00001  sat_ratio  191.0         2.324607
4    444.0  p000001  sat_ratio  191.0         2.324607

In [17]:
df_cnfs[(df_cnfs.folder == "and_experiments")].head(1)

    clauses       file           folder   vars  clauses_per_var
28    476.0  and_p0001  and_experiments  239.0         1.991632

In [16]:
df_cnfs[(df_cnfs.folder == "not_experiments")].head(1)

    clauses      file           folder   vars  clauses_per_var
16    572.0  not_p001  not_experiments  255.0         2.243137

# Comparing Embeddings

In [1]:
from unicorn_utils import *

sat_ratio_path = "sat_ratio/p25.unicorn"
and_path = "and_experiments/qubos/and_p0001.unicorn"
not_path = "not_experiments/qubos/not_p001.unicorn"

sat_ratio_bqm = get_bqm_full_path(sat_ratio_path)
and_bqm = get_bqm_full_path(and_path)
not_bqm = get_bqm_full_path(not_path)

quimera_qpu = DWaveSampler(solver={"name": "DW_2000Q_6"})

# sat_ratio_embedding, sat_ratio_embedding_seed = find_best_embedding(sat_ratio_bqm, quimera_qpu)
# and_embedding, and_embedding_seed = find_best_embedding(and_bqm, quimera_qpu)
# not_embedding, not_embedding_seed = find_best_embedding(not_bqm, quimera_qpu)

# best embedding random_seed 2
# best embedding max_chain_length 4
# best embedding qubits used 396
# best embedding variance: 0.6435472739820566
# best embedding random_seed 5
# best embedding max_chain_length 5
# best embedding qubits used 514
# best embedding variance: 0.7922411662960216
# best embedding random_seed 39
# best embedding max_chain_length 5
# best embedding qubits used 480
# best embedding variance: 0.6999560755500539

In [3]:
sat_ratio_embedding = get_embedding(sat_ratio_bqm, quimera_qpu, random_seed=2)
and_embedding = get_embedding(and_bqm, quimera_qpu, random_seed=5)
not_embedding = get_embedding(not_bqm, quimera_qpu, random_seed=39)
df_embeddings = pd.DataFrame()
for name, embedding, seed in zip(['ult', 'and', 'not'],[sat_ratio_embedding, and_embedding, not_embedding], [2, 5, 39]):
    max_chain_length, qubits_used, variance_chain_lengths, avg, median_chains = get_embedding_statistics(embedding)
    df_embeddings = df_embeddings.append({
        'name': name,
        'max_chain_length': max_chain_length,
        'qubits': qubits_used,
        'variance_chains': variance_chain_lengths,
        'avg_chains': avg,
        'median_chains': median_chains
    }, ignore_index=True)
df_embeddings

   avg_chains  max_chain_length  median_chains name  qubits  variance_chains
0    1.565217               4.0            1.0  ult   396.0             0.64
1    1.803509               5.0            2.0  and   514.0             0.79
2    1.514196               5.0            1.0  not   480.0             0.70

In [7]:
396/253

1.565217391304348

In [8]:
514/285

1.8035087719298246

In [10]:
480/317

1.5141955835962144